<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .text-center {
            text-align: center;
        }
    </style>
    <title>FORBIDDEN</title>
</head>
<body>
<p class="text-center">
    <strong>
        <span style="font-size: 22px;">access denied</span><br>
        <span style="font-size: 22px;">доступ запрещен</span>
    </strong>
</p>
<p class="text-center">
    <strong>
        <span style="font-size: 18px;">
            <a href="/">main</a>
        </span>
    </strong>
</p>
</body>
</html>
