<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>
        .text-center {
            text-align: center;
        }
        .form-group {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="text-center">
    <h1>User Profile</h1>
    <div>
        <p>Username: <span th:text="${user.username}">Username</span></p>
        <p>First Name: <span th:text="${user.firstname}">First Name</span></p>
        <p>Second Name: <span th:text="${user.secondName}">Second Name</span></p>
        <p>Age: <span th:text="${user.age}">Age</span></p>
        <p>Email: <span th:text="${user.email}">Email</span></p>
        <p>Roles: <span th:text="${user.roles}">Roles</span></p>
    </div>
    <div>
        <form th:action="@{/logout}" th:method="POST" style="display: inline;">
            <input type="submit" value="Logout"/>
        </form>
        <input type="button" value="Main Menu" onclick="window.location.href = '/'"/>
    </div>
</div>
</body>
</html>
